---
layout: default
title: "ICPR 2026: list of accepted papers by track"
canonical: "https://icpr2026.org/acceptedPapersTrack.html"
description: "List of accepted papers to ICPR 2026 - International Conference on Pattern Recognition that take place in Lyon 17-22 August 2026."
last_modified: 2026-08-31
---


{% assign papers = site.data.paperList %}

<section id="searchPaper">
  <h1>Search ICPR 2026 Papers   </h1>
  
<p>We received 1432 paper submissions to ICPR 2026. After a thorough reviewing process, the following {{ papers.size | minus: 5 }} papers are accepted and have uploaded their camera-ready manuscript for publication in Springer’s LNCS series. 5 papers were also included presenting <a href="{{site.baseurl}}/acceptedPapersTrack.html#Track%20Competition"}>competition results</a>.
 </p>

<div style="margin:20px 0;">
  <label for="paperSearch"><strong>Filter by (paper ID, title, authors): </strong></label>
  <input type="text"
         id="paperSearch"
         placeholder="e.g. 123"
         style="max-width:250px;padding:6px;">

    <label>
      <input type="checkbox" id="filterOral">
      Oral
    </label>

    <label style="margin-left:15px;">
      <input type="checkbox" id="filterPoster">
      Poster
    </label>
    <label style="margin-left:15px;">
      <input type="checkbox" id="filterRR">
      RR label
    </label>
    <label style="margin-left:15px;">
      <input type="checkbox" id="filterSlide">
      with slides
    </label>

    <span id="paperCount" style="display:none;margin-left:15px;"></span>
</div>


{% assign tracksdef = site.data.tracks %}

{% assign paperLabelList = site.data.papersRRLabels %}
{% assign paperLabelIds = paperLabelList | split: ", " %}


<table class="table-workshop" id="tracksOverview">
  <thead>
    <tr>
      <th ># </th>
      <th >Track name</th>
    </tr>
  </thead>
  <tbody>

{% for t in tracksdef %}

  <tr>
    <td> {{ t.name }} </td>
    <td> <a href = "#{{ t.name }}"> {{ t.title }} </a></td>
  </tr>
{% endfor %}
</tbody>
</table>




{% assign papers = site.data.paperList %}
{% assign sorted_papers = papers | sort: "id" %}

{% for t in (1..7) %}
  {% assign track_key = "T" | append: t %}
  {% assign key = t | minus: 1 %}
<div class="track-section">
  <h2 id="{{tracksdef[key].name}}">Track {{ track_key }}: {{ tracksdef[key].title }}</h2>

  <table class="table-workshop">
    <thead>
      <tr>
        <th>#</th>
        <th>Title and Authors</th>
        <th>session code + #grid board</th>
      </tr>
    </thead>
    <tbody>

    {% for p in sorted_papers %}
      {% assign parts = p.track | split: "." %}
      {% assign last_part = parts | last %}
      {% assign link = p.track | split: "." | first | remove: "-" | replace: "O", "oral" | replace: "P", "poster"  %}

      {% if last_part == track_key %}
      {% assign paper_id = p.id | append: "" %}
    <tr data-presenter="{{ p.presenter | escape }}"    data-type="{{ link }}"
    {% if paperLabelIds contains paper_id %}
        data-rr="OK" 
    {% else %}
      data-rr="--"      
    {% endif %}
   {% if p.slideDiff == "OK"  %}
        data-sd="OK" 
    {% else %}
      data-sd="--"      
    {% endif %}

        >
      <td>
        {% if p.presenter == "..." %} <div style="font-size: 0.9em; color: #AAA;">
          {{ p.id }} </div>
        {% else %}
          {{ p.id }}
        {% endif %}
        {% if paperLabelIds contains paper_id %}
        <a href="https://iapr-tc22-rrl.github.io/icpr2026/results/">
        <img src="/Images/labelRL.svg" alt="Label" width="64" height="64" class="ms-1"></a>
        {% endif %}
        </td>
      <td>
        {% if p.presenter == "..." %}
        <div class="text-break" style="font-size: 0.9em; color: #888;">{{ p.title }}</div>
        <div style="font-size: 0.9em; color: #AAA;">
              {{ p.authors | join: ", " | replace: "*", "" }}
            </div>
            {% else %}
            <div class="text-break">{{ p.title }}</div>
            <div style="font-size: 0.9em; color: #666;">
              {{ p.authors | join: ", " | replace: "*", "" }}
            </div>
            {% endif %}
            {% if p.ext-presenter %}
            <div style="font-size: 0.9em; color: #C22;">
              {{  "presented by (proxy):" }} {{ p.ext-presenter }}
            </div>
            {% else  %}
            {% if p.presenter and p.presenter != "..."  %}
            <div style="font-size: 0.9em; color: #88111;">
              {{  "presented by:" }} {{ p.presenter }}
            </div>
            {% endif %}
            {% endif %}
            {% if p.slideDiff == "OK" %}
            <a href="https://icpr2026orgteam.github.io/OralPres/{{p.id}}.pdf"><i class="bi bi-file-earmark-slides"></i> slides </a>             
            {% endif %}

          </td>
          <td><a href="{{ site.baseurl }}/sessions/{{link}}/">{{ p.track }}</a>
            {% assign poster_number = site.data.gridPosterID[p.id] %}
          {% if poster_number %}
          #{{ poster_number }}
          {% endif %}
            {% if p.pdflink %}
            <br>
            <a href="{{ p.pdflink }}" target="_blank" class="text-danger">
              <i class="bi bi-file-earmark-pdf"></i> PDF
            </a>
            {% endif %}

          </td>
        </tr>
      {% endif %}
    {% endfor %}

    </tbody>
  </table>
</div>
{% endfor %}


</tbody>
</table>

<script>
const search = document.getElementById("paperSearch");
const filterOral = document.getElementById("filterOral");
const filterPoster = document.getElementById("filterPoster");
const filterSlide = document.getElementById("filterSlide");
const filterRR = document.getElementById("filterRR");

const overview = document.getElementById("tracksOverview");
const counter = document.getElementById("paperCount");

function applyFilters() {

    const value = search.value.trim().toLowerCase();
    const oralChecked = filterOral.checked;
    const posterChecked = filterPoster.checked;
    const rrChecked = filterRR.checked;
    const slideDiffChecked = filterSlide.checked;

    // Hide overview table when a filter is active
    overview.style.display =
        (value === "" && !oralChecked && !posterChecked) ? "" : "none";

    let totalVisible = 0;

    document.querySelectorAll(".track-section").forEach(section => {

        let visibleRows = 0;

        section.querySelectorAll("tbody tr").forEach(row => {

            const text = row.textContent.toLowerCase();
            const id = row.querySelector("td").textContent.trim();
            const type = row.dataset.type.toLowerCase();

            // Text / ID / presenter filter
            let textMatch;

            if (value === "...") {
                textMatch = row.dataset.presenter === "...";
            } else if (/^\d+$/.test(value)) {
                textMatch = (id === value);
            } else {
                textMatch = value === "" || text.includes(value);
            }

            // Oral / Poster filter
            let typeMatch = true;

            if (oralChecked || posterChecked || rrChecked|| slideDiffChecked) {
               typeMatch = (!oralChecked && !posterChecked &&   (!rrChecked || row.dataset.rr.startsWith("OK"))) ||
                           ((oralChecked && type.startsWith("oral")) ||
                         (posterChecked && type.startsWith("poster")));
            }
           if (slideDiffChecked) {
               typeMatch = typeMatch && row.dataset.sd === "OK";
            }
            const visible = textMatch && typeMatch;

            row.style.display = visible ? "" : "none";

            if (visible) {
                visibleRows++;
                totalVisible++;
            }
        });

        section.style.display = visibleRows ? "" : "none";
    });

    // Counter
    if (value.length === 0 && !oralChecked && !posterChecked && !rrChecked&& !slideDiffChecked) {
        counter.style.display = "none";
    } else {
        counter.style.display = "inline";
        counter.textContent =
            `(${totalVisible} paper${totalVisible > 1 ? "s" : ""} found)`;
    }
}

// Search field
search.addEventListener("input", applyFilters);

// Checkboxes
filterOral.addEventListener("change", applyFilters);
filterPoster.addEventListener("change", applyFilters);
filterRR.addEventListener("change", applyFilters);
filterSlide.addEventListener("change", applyFilters);

// To get link from query string
const params = new URLSearchParams(window.location.search);
const query = params.get("search") || params.get("id");

if (query) {
    search.value = query;
    applyFilters();
}
</script>
  
</section>
