---
layout: default
title: "ICPR 2026: list of accepted papers by track"
canonical: "https://icpr2026.org/acceptedPapersTrack.html"
description: "List of accepted papers to ICPR 2026 - International Conference on Pattern Recognition that take place in Lyon 17-22 August 2026."
last_modified: 2026-07-06
---


{% assign papers = site.data.paperList %}

<section id="program">
  <h1>List of papers accepted for ICPR 2026 by track  </h1>
  
<p>We received 1432 paper submissions to ICPR 2026. After a thorough reviewing process, the following {{ papers.size }} papers are accepted and have uploaded their camera-ready manuscript for publication in Springer’s LNCS series.
 </p>

<div style="margin:20px 0;">
  <label for="paperSearch"><strong>Filter by (paper ID, title, authors): </strong></label>
  <input type="text"
         id="paperSearch"
         placeholder="e.g. 123"
         style="max-width:250px;padding:6px;">
</div>

{% assign tracksdef = site.data.tracks %}


<table class="table-workshop" id="tracksOverview">
  <thead>
    <tr>
      <th ># </th>
      <th >Track name</th>
    </tr>
  </thead>
  <tbody>

{% for t in tracksdef %}

  <tr>
    <td> {{ t.name }} </td>
    <td> <a href = "#{{ t.name }}"> {{ t.title }} </a></td>
  </tr>
{% endfor %}
</tbody>
</table>




{% assign papers = site.data.paperList %}
{% assign sorted_papers = papers | sort: "id" %}

{% for t in (1..7) %}
  {% assign track_key = "T" | append: t %}
  {% assign key = t | minus: 1 %}
<div class="track-section">
  <h2 id="{{tracksdef[key].name}}">Track {{ track_key }}: {{ tracksdef[key].title }}</h2>

  <table class="table-workshop">
    <thead>
      <tr>
        <th>#</th>
        <th>Title and Authors</th>
        <th>session code</th>
      </tr>
    </thead>
    <tbody>

    {% for p in sorted_papers %}
      {% assign parts = p.track | split: "." %}
      {% assign last_part = parts | last %}
      {% assign link = p.track | split: "." | first | remove: "-" | replace: "O", "oral" | replace: "P", "poster"  %}

      {% if last_part == track_key %}
        <tr>
          <td>{{ p.id }}</td>
          <td>
            <div>{{ p.title }}</div>
            <div style="font-size: 0.9em; color: #666;">
              {{ p.authors | join: ", " | replace: "*", "" }}
            </div>
          </td>
          <td><a href="{{ site.baseurl }}/sessions/{{link}}/">{{ p.track }}</a></td>
        </tr>
      {% endif %}
    {% endfor %}

    </tbody>
  </table>
</div>
{% endfor %}


</tbody>
</table>


<script>
const search = document.getElementById("paperSearch");
const overview = document.getElementById("tracksOverview");

search.addEventListener("input", function () {
    const value = this.value.trim().toLowerCase();
    // Hide overview tabular once entering data in input search
    overview.style.display = value === "" ? "" : "none";

    document.querySelectorAll(".track-section").forEach(section => {
        let visibleRows = 0;
        section.querySelectorAll("tbody tr").forEach(row => {
            const text = row.textContent.toLowerCase();
            const visible = (value === "" || text.includes(value));
            row.style.display = visible ? "" : "none";
            if (visible) visibleRows++;
        });
        section.style.display = visibleRows ? "" : "none";
    });
});

// To get link from query string
const params = new URLSearchParams(window.location.search);
const query = params.get("search") || params.get("id");
if (query) {
    search.value = query;
    search.dispatchEvent(new Event("input"));
}
</script>
  
</section>
