---
layout: default
title:  News and FAQ - ICPR 2026
canonical: "https://icpr2026.org/hotels.html"
last_modified: 2026-04-01
---

<h1>Hotels</h1>
<section id="hotels">


  {% assign hotelList = site.data.hotels %}
{% assign sections = 
  "doua:Hotels close to the DOUA campus|
   partdieu:Hotels close to Part-Dieu train station (main Lyon transport hub)|
   centre:Hotels close to city center|
   ccl:Hostels close to CCL|
   gerland:Hostels close to ENS Gerland|
   youth:Youth hostels|
   other:Other Hostels" | split: "|" %}

{% for s in sections %}
  {% assign parts = s | split: ":" %}
  {% assign key = parts[0] | strip %}
  {% assign title = parts[1] | strip %}


  <h2>{{ title }}</h2>

  <ul>
    {% assign hotels = site.data.hotels | where: "section", key %}
    
    {% for h in hotels %}
      <li>
        {% if h.lien and h.lien != "" %}
        <a href="{{ h.lien }}">{{ h.name hotel }}</a>
        {% else %}
        {{ h.name hotel }}
        {% endif %}

        <ul>
          <li>adresse: {{ h.adresse }}</li>

          {% if h.tel and h.tel != "" %}
            {% if h.tel contains "@" %}
              <li>contact: <a href="mailto:{{ h.tel }}">{{ h.tel }}</a></li>
            {% else %}
              <li>contact: {{ h.tel }}</li>
            {% endif %}
          {% endif %}

          {% if h.price and h.price != "" %}
            <li>price: {{ h.price }}</li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endfor %}


 


</section>


<script>
  const btn = document.getElementById('show-more-news');
  const newsItems = document.querySelectorAll('.all-news-list li.hidden');

  btn.addEventListener('click', () => {
    const isHidden = newsItems[0].classList.contains('hidden');

    newsItems.forEach(li => {
      if (isHidden) {
        li.classList.remove('hidden');
      } else {
        li.classList.add('hidden');
      }
    });

    btn.textContent = isHidden ? "show less" : "show all ...";
  });
</script>


<script>
document.querySelectorAll('.faq-question').forEach(btn => {
  btn.addEventListener('click', () => {
    const answer = btn.nextElementSibling;
    answer.classList.toggle('hidden');
  });
});


</script>


