---
layout: default
title: "ICPR 2026: Local organisation team"
canonical: "https://icpr2026.org/localOrgTeam.html"
description: "Local organisation team of ICPR 2026 - International Conference on Pattern Recognition that take place in Lyon 17-22
August 2026."
last_modified: 2026-07-30
---

  <h1>Local Organisation Team </h1>

  
 <div class="container">
    <div class="row text-center justify-content-around">

      {% include displayPhotoMember.html
      photoName="photoVero.jpeg"
      affiliation="- LIRIS - INSA Lyon"
      name="Véronique Eglin"
      role="Main local chair"   %}

      {% include displayPhotoMember.html
      photoName="photoBertrand.jpeg"
      affiliation="- LIRIS - Université Lumière Lyon 2"
      name="Bertrand Kerautret" %}


      {% include displayPhotoMember.html
      photoName="photoSteph.jpeg"
      affiliation="- LIRIS - INSA Lyon"
      name="Stephane Bres" %}

    </div>

 </div>


<h2>Global team</h2>

   
  <section id="Local organisation team">
    <!------ Local organisation team ----->
    <div class="container d-flex justify-content-center">
      <div class="row justify-content-center">
  
        <div class="col-md-5  ml-5  mr-3 b-3 t-3">
          <div class="card border-info ml-1 mb-3">
            <div class="card-header"><b>Local Coordination</b> </div>
            <div class="card-body text-info">
              <ul class="reviewers">
                {% assign localTeam = site.data.localTeam | sort: "lastname" %}
                {% for member in localTeam %}
                  {% if member.coordination %}
                      <li> {{ member.firstname }} {{ member.lastname}} </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4  ml-4  mr-3 b-3 t-3">
          <div class="card border-info ml-1 mb-3">
            <div class="card-header"><b>Infography</b> </div>
            <div class="card-body text-info">
              <ul class="reviewers">
                {% assign localTeam = site.data.localTeam | sort: "lastname" %}
                {% for member in localTeam %}
                 {% if member.role == "graphism" %}
                      <li> {{ member.firstname }} {{ member.lastname}} </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col-md-3  ml-3  mr-3 b-3 t-3">
          <div class="card border-info ml-1 mb-3">
            <div class="card-header"><b>Website</b> </div>
            <div class="card-body text-info">
              <ul class="reviewers">
                {% assign localTeam = site.data.localTeam | sort: "lastname" %}
                {% for member in localTeam %}
                  {% if member.role == "Website" %}
                        <li> {{ member.firstname }} {{ member.lastname}} </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col-md-12  ml-10  mr-3 b-3 t-3">
          <div class="card border-info ml-1 mb-3">
            <div class="card-header"><b>Local Organizing Team</b> </div>
            <div class="card-body text-info">
              <ul class="reviewers">
                {% assign localTeam = site.data.localTeam | sort: "lastname" %}
                {% for member in localTeam %}
                   <li> {{ member.firstname }} {{ member.lastname}} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
    
