---
layout: default
title:  Tutorials - ICPR 2026
canonical: "https://icpr2026.org/competitions.html"
last_modified: 2026-02-14
---

<h1>Tutorials</h1>

<p>We thank the IAPR community for all submitted tutorial proposals. The list of selected tutorial are given below.</p>




{% assign tutoList = site.data.tutorials %}
<table class="table-workshop">
  <thead>
    <tr>
      <th ># </th>
      <th >Title</th>
    </tr>
  </thead>
  <tbody>

{% for tuto in tutoList %}

  <tr>
    <td> {{ tuto.id }} </td>
    <td> <a href = "#{{ tuto.id }}"> {{ tuto.title }} </a></td>
  </tr>
{% endfor %}
</tbody>
</table>



{% assign tutoList = site.data.tutorials %}
{% for tuto in tutoList %}

<div class="card text-dark bg-light mb-5" style="max-width: 110rem;">
  <div class="card-header fs-5 fw d-flex align-items-center"><b>{{ tuto.title }}</b> <span class="ms-auto">{{ tuto.id }}</span></div>
  <div class="card-body">
    <h5 class="card-title" id="{{ tuto.id }}"><strong class="card-title"> Resume</strong>: </h5>
    <p> {{ tuto.resume }} </p>
    <p class="card-text"> <strong class="card-title"> Authors </strong>: {{ tuto.authors }}  </p>
    <p class="card-text"> <strong class="card-title"> Date</strong>: {{ tuto.date }}  </p>
  </div>
</div>

{% endfor %}
  
</section>



<script>
document.querySelectorAll('.faq-question').forEach(btn => {
  btn.addEventListener('click', () => {
    const answer = btn.nextElementSibling;
    answer.classList.toggle('hidden');
  });
});


</script>


