---
layout: default
title:  Workshops - ICPR 2026
canonical: "https://icpr2026.org/workshops.html"
last_modified: 2026-06-18
---

<h1>Workshops</h1>
<p>
Please note that all ICPR workshops will take place in the
<a href="https://www.google.com/maps?ll=45.783714,4.882288&z=18&hl=fr-FR&gl=US&mapclient=apiv3&cid=1632147326884673947">
Louis Néel Building
</a>, rather than in the main conference convention center.
</p>

<h2>Selected Workshops</h2> 

<p>
  We thank the IAPR community for all submitted workshop proposals. The list of selected workshops with links to their respective webpages with submission instructions and more information is available below. For general queries on the workshops, please, contact <a href="mailto:workshop_chairs@icpr2026.org">workshop_chairs@icpr2026.org</a>. For queries on a specific workshop, please, contact the respective organisers listed on their webpage.</p>

<p> Information about workshop registration and registration requirements for authors of accepted workshop papers can be found on the <a href="registration.html"> ICPR registration page.</a> </p>


{% assign work = site.data.workshops %}
<table class="table-workshop">
  <thead>
    <tr>
      <th ># </th>
      <th >Acronym</th>
      <th >Title</th>
    </tr>
  </thead>
  <tbody>

{% for w in work %}

  <tr>
    <td> {{ w.id }} </td>
    <td> {{ w.acronym }} </td>
    <td> <a href = "#{{ w.id }}"> {{ w.title }} </a></td>
  </tr>
{% endfor %}
</tbody>
</table>




<h2 id="WSOverview">Workshop program overview </h2>
  
  {% assign wsA = site.data.workshops | where: "tslot", "A" %}
  {% assign wsB = site.data.workshops | where: "tslot", "B" %}
  {% assign wsC = site.data.workshops | where: "tslot", "C" %}
  {% assign wsD = site.data.workshops | where: "tslot", "D" %}

{% assign max = wsB.size %}

{% if wsC.size > max %}
  {% assign max = wsC.size %}
 {% endif %}


    
</table>  
<table class="table-workshop">
  <thead>
    <tr>
      <th > Friday August 21 (<a style="color:#ffd9d9;" href="https://www.google.com/maps?ll=45.783714,4.882288&z=18&hl=fr-FR&gl=US&mapclient=apiv3&cid=1632147326884673947">
Louis Néel Building
</a>)  </th>
    </tr>
    <tr>
      <th > 8:30-17:30  (full day workshops)  </th>
    </tr>
  </thead>
  <tbody>
{% for w in wsA %}
  <tr>
    <td> <a href = "#{{ w.id }}"> {{ w.acronym }} </a> ({{ w.room }}) </td>
  </tr>
{% endfor %}
</tbody>
</table>


<table class="table-workshop">
  <thead>
    <tr>
      <th colspan  = "2" > Friday August 21 (<a style="color:#ffd9d9;" href="https://www.google.com/maps?ll=45.783714,4.882288&z=18&hl=fr-FR&gl=US&mapclient=apiv3&cid=1632147326884673947">
Louis Néel Building
</a>) </th>
    </tr>

    <tr>
      <th >  8:30-12:30 </th>  <th >  13:30-17:30 </th>
    </tr>
  </thead>
  <tbody>

 {% for i in (0..max) %}
 <tr>
   {% if wsB[i] %}
    <td> <a href = "#{{ wsB[i].id }}"> {{ wsB[i].acronym }} </a> ({{ wsB[i].room }})</td>
   {% endif %}
   {% if wsC[i] %}
     <td> <a href = "#{{ wsC[i].id }}"> {{ wsC[i].acronym }} </a> ({{ wsC[i].room }})</td>
   {% endif %}
 </tr>
{% endfor %}
</tbody>
</table>


    
</table>  
<table class="table-workshop">
  <thead>
    <tr>
      <th > Saturday August 22 (<a style="color:#ffd9d9;" href="https://www.google.com/maps?ll=45.783714,4.882288&z=18&hl=fr-FR&gl=US&mapclient=apiv3&cid=1632147326884673947">
Louis Néel Building
</a>)  </th>
    </tr>
    <tr>
      <th > 8:00-14:00	 </th>
    </tr>
  </thead>
  <tbody>
{% for w in wsD %}
  <tr>
    <td> <a href = "#{{ w.id }}"> {{ w.acronym }} </a> ({{ w.room }})  </td>
  </tr>
{% endfor %}
</tbody>
</table>



  

<h2>Workshop Detailed List </h2> 

{% for w in work %}



<div  class="card text-dark bg-light mb-5" style="max-width: 110rem;">
  <div class="card-header fs-5 fw d-flex align-items-center"> <span> <b>{{ w.title }} </b> ({{ w.acronym }})</span> <span class="ms-auto">({{ w.room }})</span> <span class="ms-auto">{{ w.id }}</span> </div>
  <div class="card-body">
 {% if w.resume %}
  <h5 id="{{ w.id }}"  class="card-title">Overview</h5>

  <div class="resume-clamp" id="resume-{{ forloop.index }}">
    {{ w.resume }}
  </div>
  <div class="show-more-WS ">
  <button 
    class="btn "
    onclick="toggleResume('{{ forloop.index }}', this)">
    Show more
  </button></div>
  {% endif %}
  {% if w.website %}
  {% if w.website != "tba" %}
 <p class="card-text"> <strong class="card-title"> Workshop  Website</strong>: <a href="{{ w.website }}">  available here  </a></p>
 {% else %}
 <p class="card-text"> <strong class="card-title"> Workshop  Website</strong>: {{ w.website }}  </p>
 
 {% endif %}
 {% endif %}
  {% if w.deadline %}
  <p class="card-text"> <strong class="card-title"> Deadline</strong>: <strong class="text-info"> {{ w.deadline }}</strong>  </p>
  {% endif %}
  {% if w.resultdate %}
  <p class="card-text"> <strong class="card-title"> Results</strong>: {{ w.resultdate }}  </p>
  {% endif %}
  </div>
  
</div>

{% endfor %}




  
</section>


<script>
function toggleResume(id, btn) {
  const resume = document.getElementById('resume-' + id);

  if (resume.classList.contains('expanded')) {
    resume.classList.remove('expanded');
    btn.innerText = 'Show more';
  } else {
    resume.classList.add('expanded');
    btn.innerText = 'Show less';
  }
}
</script>

