<nav id="navMenu" class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top px-3 mb-4 blurry" aria-label="Main navigation">
    <a class="navbar-brand d-lg-none" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle main navigation menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav mx-lg-auto">
          <a class="navbar-brand d-none d-lg-block " href="/">Home</a>
          <li class="nav-item">
                <a class="nav-link" href="/committee.html">Committee</a>
            </li>
          <li class="nav-item">
                <a class="nav-link long-text" href="/dates.html">Important Dates</a>
                <a class="nav-link med-text" href="/dates.html">Dates</a>
                <a class="nav-link short-text" href="/dates.html"> Dates</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/calls.html" id="dropdown01" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Calls
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" role="menuitem"  href="/calls.html">Main Call</a></li>
                    <li><a class="dropdown-item" role="menuitem" href="/callCompetitions.html">Call for Competitions</a></li>
                     <li><a class="dropdown-item" role="menuitem" href="/callDocConsortium.html">Call for Doctoral Consortium</a></li>
                    <li><a class="dropdown-item" role="menuitem"  href="/callTutorials.html">Call for Tutorials</a></li>
                    <li><a class="dropdown-item" role="menuitem" href="/callWorkshops.html">Call for Workshops</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/program.html">Program</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/calls.html" id="dropdown01" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Sattelite Events
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" role="menuitem"  href="/challenge.html">Challenge</a></li>

                </ul>
            </li>

          <li class="nav-item">
                <a class="nav-link long-text" href="/authors.html">For Authors</a>
                <a class="nav-link med-text" href="/authors.html">Authors</a>
                <a class="nav-link short-text" href="/authors.html">Authors</a>
          </li>
            <li class="nav-item">
              <a class="nav-link long-text" href="/localInformations.html">Local Informations</a>
              <a class="nav-link med-text" href="/localInformations.html">Local Info.</a>
              <a class="nav-link short-text" href="/localInformations.html">Local Info.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sponsors.html">Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news.html">News & FAQ   </a>
            </li>

        </ul>
    </div>
</nav>
