@use "variables";

/* 🎠 Carrousel */
.carousel-inner {
  height: 400px;
  max-height: 100vh;
  overflow: hidden;
}

.carousel-indicators {
  .active { background-color: rgba(230, 54, 41, 0.8); }
  li { background-color: rgba(25, 25, 2, 0.5); }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

/* 🖼️ Gallery */
.myGallery {
  text-align: center;
  margin: 0 10px 10px 0;

  .gallery-item,
  .gallery-item-large {
    float: left;
    margin: 0 5px 10px;
    text-align: center;

    &.gallery-item { width: 45%; }
    &.gallery-item-large { width: 90%; }
  }

  img { border: 10px solid #f1f1f1; }

  .gallery-caption,
  .gallery-reference {
    font-size: 12px;
    margin: 0 0 12px;
    text-align: left;
    width: 100%;
  }

  .gallery-caption { color: #777; }
  .gallery-reference { color: #09BCE8; z-index: 2020; }
}

/* 🧾 Divers */
.btn {
  border-radius: 0;
}

.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}

.card-body-scroll,
.list-group {
  max-height: 250px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.card-body ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.card-body ul li {
  margin-bottom: 0.5rem; /* espace vertical entre chaque item */
}

.list-group-item-action.active {
  color: #FFF;
  background-color: variables.$color-primary;
  border: none;
}

/* 🪧 Flyer */
.flyer-container {
  display: block;
  margin: auto;
}

.flyer {
  width: 90%;
  max-width: 400px;

  @media (min-width: 992px) {
    width: 33%;
    max-width: none;
  }
}

/*-------------------*/
/*  Program component*/
  .schedule-grid {
    display: grid;
    grid-template-columns: 2fr repeat(23, 3fr);
    grid-auto-rows: 40px;
    gap: 1px;
    background: #ccc;
  }

  .cell {
    grid-column: span 3;
    background: white;
    padding: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .cellSmall1 {
    grid-column: span 1;
    background: white;
    padding: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellSmall2 {
    grid-column: span 2;
    background: white;
    padding: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .cell,
  .cellSmall1,
  .cellSmall2 {
    background: white;
    padding: 4px;
    text-align: center;
    display: flex;
    align-items: center;

    justify-content: center;
    border: 1px solid #ccc;
    /* <-- ajoute des bordures visibles */
  }

  .time {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 0.65rem;
    align-items: flex-start;
  }

  .empty {
    background-color: #f0f0f0;
  }

  .registration {
    background-color: #c0c0c0;
  }

  .oral {
    background-color: #F5A77C;
  }

  .workshop {
    background-color: #A1B1C2;
  }

  .findings {
    background-color: #8896AE;
  }

  .keynote {
    background-color: #FBE7A3;
  }

  .poster {
    background-color: #93A8D7;
  }

  .coffee {
    background-color: #B8912F;
  }

  .prizeLecture {
    background-color: #F8E5D8;
  }

  .special {
    background-color: #f8d7da;
  }

  .break {
    background-color: #dddddd;
  }

  .lunch {
    background-color: #C2D6EC;
  }

  .women {
    background-color: #E4EFDC;
  }

  .lunch {
    background-color: #C2D6EC;
  }

  .ceremony {
    background-color: #d1e7dd;
  }

  .iapr {
    background-color: #FFFF54;
    font-size: 0.8rem;
  }

  .doctorial {
    background-color: #A3C1E3;
  }

  .indus {
    background-color: #A3C1E3;
  }

  .welcome {
    background-color: #a4c2f4;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .long-text {
      display: none;
    }

    .short-text {
      display: none;
    }

    .med-text {
      display: inline;
    }
  }

  @media (min-width: 1025px) {
    .long-text {
      display: inline;
    }

    .short-text {
      display: none;
    }

    .med-text {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .long-text {
      display: none;
    }

    .short-text {
      display: inline;
    }

    .med-text {
      display: none;
    }
  }

  @media (max-width: 20484px) {
    .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

  }
  /*  Program component*/
  /*-------------------*/

  /*-------------------*/
  /*  Map component    */

 #map-container {
    height: 80vh; /* La carte occupe 80% de la hauteur de l'écran */
}
#map {
    height: 100%; /* La carte prend toute la hauteur du conteneur */
}
  /*  Map component    */
  /*-------------------*/
