@import "variables";
.table-wrapper {
  display: inline-block;
}

/* tableau */
.registration-table {
  border-collapse: collapse;
}

.registration-table th,
.registration-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

/* cadre rouge externe */
.paper-top    { border-top:    3px solid red !important; }
.paper-bottom { border-bottom: 3px solid red !important; }
.paper-left   { border-left:   3px solid red !important; }
.paper-right  { border-right:  3px solid red !important; }

/* légende */
.table-legend {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
  font-size: 15px;
}

.legend-box {
  width: 16px;
  height: 10px;
  border: 2px solid red;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  vertical-align: middle;
  align-items: center;
  white-space: normal;

}
/* 📄 Tables */
table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  font-family: $font-main;

  th {
    background-color: $color-secondary;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.0em;
  }

  td {
    padding: 10px;
    vertical-align: top;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #CCDDCC;
  }

  .date {
    font-weight: bold;
    width: 30%;
  }
}
/* Mini style pour tableau contact */
.table-contact {
  width: 100%;
}

.table-contact td.right {
  width: 50%; 
  text-align: left;
          
}

.table-contact td.left {
  width: 50%;  
  text-align: right;         
}

.table-contact tr.extra {
  display: none;        
}
.table-contact tr {
  background-color: white !important; /* force toutes les lignes à blanc */
}
/* 📄 Content wrappers */
#site_content {
  overflow: hidden;
  margin: 10px 0;
  background: #FFF8;
}


.container {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (min-width: 576px) {
  .container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
