@use "variables";

/* 📄 Tables */
table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  font-family: variables.$font-main;

  th {
    background-color: variables.$color-secondary;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.2em;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background-color: #CCDDCC;
  }

  .date {
    font-weight: bold;
    width: 30%;
  }
}

tr { line-height: 25px; height: 25px; }

/* 🖼️ Sections */
.jumbotron {
  max-height: 250px;
  margin: -30px 0 10px;
}

.tab-pane {
  background-color: #FFF;
  min-height: 300px;

  &.proj {
    background-color: #EEE;
    min-height: 400px;
  }
}

/* 📄 Content wrappers */
#site_content {
  overflow: hidden;
  margin: 10px 0;
  background: #FFF8;
}
