nav.custom-navbar {
  background-color: $color-secondary;
  font-family: $font-main;

  .navbar-brand, .nav-link {
    color: white;

    // Should also be used for dropdown-menu items ?
    line-height: 1.5;

    font-size: 1.1rem;

    padding-top: .5cqi;
    padding-bottom: .5cqi;

    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1rem;

      padding-left: .1cqi;
      padding-right: .2cqi;
    }
  }

  .nav-link {
    margin: 0 .3cqi;

    padding-left: 1cqi;
    padding-right: 1cqi;

    &:hover { color: #ccc; }
  }

  .active {
    font-weight: 600;
  }

  .dropdown-menu {
    background-color: white;

    .dropdown-item {
      color: $color-dark;

      &:hover { background-color: $color-light; }
    }
  }
}