// ===== ICPR 2026 global variables =====

// Main colors
$color-primary: #AD201E;        // red ICPR
$color-secondary: #4D5E60DD;    // dark green
$color-dark: #343a40;
$color-light: #EEEEEE;
$color-text: #444;

// Typography
$font-main: Arial, sans-serif;