

<!DOCTYPE html>
<html lang="en">
<link rel="preload" as="image" href="/Images/headerBackground.webp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/css/custom.css">
    
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
    {% endif %}

    
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="Logos/icprIcon.ico">

  </head>

<body>
  <div id="headerSite"></div>
  {% include header.html %}
  {% include menu.html %} 

  <div class="blurrer"></div>
</div>

  <main>
    {{ content }}
  </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
</body>
</html>
